[defaults]
# inventory
inventory =./
# no worry rsa fingerprints
host_key_checking = False
# no .retry files on job failure
retry_files_enalbed = False
# no gathering facts
gathering = explicit
# Sessions to excute at the same time
forks = 32
collections_paths = /home/awx/.ansible/collections

[galaxy]
server_list = automation_hub, release_galaxy
[galaxy_server.automation_hub]
url=https://cloud.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJhZDUyMjdhMy1iY2ZkLTRjZjAtYTdiNi0zOTk4MzVhMDg1NjYifQ.eyJpYXQiOjE2MDE0OTU1MDAsImp0aSI6Ijk4NDUxOTJkLTAxMjYtNGFlNi1iNGExLTRjZTE4YzNkMmQ0NCIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjptYXJzbWF0dCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiMjU5YjE1NGMtYWVmMC00NWRkLThlNDYtYzdjZTIzODM2ZDU0Iiwic2Vzc2lvbl9zdGF0ZSI6ImYzNTBmODU0LTdkZmItNDI0My1iMWZlLTQxNzY2Y2Q4ZTBkZiIsInNjb3BlIjoib3BlbmlkIG9mZmxpbmVfYWNjZXNzIn0.5IPhNn4O0xyX5eNvRYx78sme6V1x9gTt450esIveDhI
[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com
token=c86b66ddec0f30b0469d69d4239a613a073e3dd3